body {
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    background-color: #F8F1AE;
}

.index-title, .recipe-title, .recipe-description-title, .recipe-ingredients-title, .recipe-steps-title {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.index-list, .ingredients-list {
    display: block;
    margin: auto;
    max-width: 300px;
}

.steps-list {
    display: block;
    margin: auto;
    max-width: 400px;
}

.index-bullet {
    list-style: none;
}

.index-bullet li {
    margin: 8px 0px;
}